@{
    Layout = "_Layout";
    ViewData["Title"] = "결제모듈";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
<script src="/js/Home.js"></script>

<div>
    <button id="payment">
        Pay !
    </button>
</div>